<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View a Course's details</title>
<link rel="stylesheet" th:href="@{/css/details.css}" />

</head>
<body>
	<h1>Course Details</h1>
	<p th:text="'Course Name: ' + ${course.name}"></p>
	<p th:text="'Course Code: ' + ${course.code}"></p>
	<p th:if="${course.professor != null}"
		th:text="'Professor: ' + ${course.professor.name}"></p>
	<p th:unless="${course.professor != null}"
		style="text-decoration: underline;">Professor: Not Yet Assigned</p>
	<h2>Students Enrolled:</h2>
	<table border="1">
		<tr>
			<th>Student Name</th>
			<th>Action</th>
		</tr>
		<tr th:each="student : ${course.students}">
			<td th:text="${student.firstName + ' ' + student.lastName}"></td>
			<td><a th:class="drop"
				th:href="@{'/dropStudent/' + ${student.id} + '/' + ${course.id}}">Drop
					Student</a></td>
		</tr>
	</table>

	<a href="/" class="button"> &#x25c0 Home Page</a>

</body>
</html>